<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>   
    <ion-title style="text-align: left !important;"><div style="font-size:23px;font-weight:800;margin-top:5px;">
                <span style="color:#2a425c;">SHOP</span>   
                <span style="color:#f37221;"> SEVA</span>
              </div></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="customebackground">

  <div style="padding:10px !important;"  *ngIf="languageId=='1'">
    <strong>Terms &amp; Conditions</strong> <p>
      By downloading or using the app, these terms will
      automatically apply to you – you should make sure therefore
      that you read them carefully before using the app. You’re not
      allowed to copy, or modify the app, any part of the app, or
      our trademarks in any way. You’re not allowed to attempt to
      extract the source code of the app, and you also shouldn’t try
      to translate the app into other languages, or make derivative
      versions. The app itself, and all the trade marks, copyright,
      database rights and other intellectual property rights related
      to it, still belong to Onerio Solution.
    </p> <p>
      Onerio Solution is committed to ensuring that the app is
      as useful and efficient as possible. For that reason, we
      reserve the right to make changes to the app or to charge for
      its services, at any time and for any reason. We will never
      charge you for the app or its services without making it very
      clear to you exactly what you’re paying for.
    </p> <p>
      The Shop Seva app stores and processes personal data that
      you have provided to us, in order to provide our
      Service. It’s your responsibility to keep your phone and
      access to the app secure. We therefore recommend that you do
      not jailbreak or root your phone, which is the process of
      removing software restrictions and limitations imposed by the
      official operating system of your device. It could make your
      phone vulnerable to malware/viruses/malicious programs,
      compromise your phone’s security features and it could mean
      that the Shop Seva app won’t work properly or at all.
    </p> <div><p>
        The app does use third party services that declare their own
        Terms and Conditions.
      </p> <p>
        Link to Terms and Conditions of third party service
        providers used by the app
      </p> <ul><li>Google Play Services</li><!----><li>Google Analytics for Firebase</li><li>Firebase Crashlytics</li><li>Facebook</li><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----></ul></div> <p>
      You should be aware that there are certain things that
      Onerio Solution will not take responsibility for. Certain
      functions of the app will require the app to have an active
      internet connection. The connection can be Wi-Fi, or provided
      by your mobile network provider, but Onerio Solution
      cannot take responsibility for the app not working at full
      functionality if you don’t have access to Wi-Fi, and you don’t
      have any of your data allowance left.
    </p> <p></p> <p>
      If you’re using the app outside of an area with Wi-Fi, you
      should remember that your terms of the agreement with your
      mobile network provider will still apply. As a result, you may
      be charged by your mobile provider for the cost of data for
      the duration of the connection while accessing the app, or
      other third party charges. In using the app, you’re accepting
      responsibility for any such charges, including roaming data
      charges if you use the app outside of your home territory
      (i.e. region or country) without turning off data roaming. If
      you are not the bill payer for the device on which you’re
      using the app, please be aware that we assume that you have
      received permission from the bill payer for using the app.
    </p> <p>
      Along the same lines, Onerio Solution cannot always take
      responsibility for the way you use the app i.e. You need to
      make sure that your device stays charged – if it runs out of
      battery and you can’t turn it on to avail the Service,
      Onerio Solution cannot accept responsibility.
    </p> <p>
      With respect to Onerio Solution’s responsibility for your
      use of the app, when you’re using the app, it’s important to
      bear in mind that although we endeavour to ensure that it is
      updated and correct at all times, we do rely on third parties
      to provide information to us so that we can make it available
      to you. Onerio Solution accepts no liability for any
      loss, direct or indirect, you experience as a result of
      relying wholly on this functionality of the app.
    </p> <p>
      At some point, we may wish to update the app. The app is
      currently available on Android – the requirements for
      system(and for any additional systems we
      decide to extend the availability of the app to) may change,
      and you’ll need to download the updates if you want to keep
      using the app. Onerio Solution does not promise that it
      will always update the app so that it is relevant to you
      and/or works with the Android version that you have
      installed on your device. However, you promise to always
      accept updates to the application when offered to you, We may
      also wish to stop providing the app, and may terminate use of
      it at any time without giving notice of termination to you.
      Unless we tell you otherwise, upon any termination, (a) the
      rights and licenses granted to you in these terms will end;
      (b) you must stop using the app, and (if needed) delete it
      from your device.
    </p> <p><strong>Changes to This Terms and Conditions</strong></p> <p>
      We may update our Terms and Conditions
      from time to time. Thus, you are advised to review this page
      periodically for any changes. We will
      notify you of any changes by posting the new Terms and
      Conditions on this page.
    </p> <p>
      These terms and conditions are effective as of 2021-01-01
    </p> <p><strong>Contact Us</strong></p> <p>
      If you have any questions or suggestions about our
      Terms and Conditions, do not hesitate to contact us
      at oneriasolution@gmail.com.
    </p>
  </div>
  <div style="padding:10px !important;"  *ngIf="languageId=='2'"> 
    <strong>अटी व शर्ती
    </strong> <p>
      अ‍ॅप डाउनलोड करून किंवा वापरुन, या अटी करतील
      आपोआप आपोआप लागू - आपण खात्री केली पाहिजे
      की आपण अ‍ॅप वापरण्यापूर्वी त्यांना काळजीपूर्वक वाचा. तुम्ही नाही
      अ‍ॅपचा कोणताही भाग कॉपी करण्यासाठी किंवा अ‍ॅप सुधारित करण्यास अनुमती दिली आहे
      आमचे ट्रेडमार्क कोणत्याही प्रकारे. आपल्याला प्रयत्न करण्याची परवानगी नाही
      अ‍ॅपचा स्त्रोत कोड काढा आणि आपण देखील प्रयत्न करू नये
      अन्य भाषांमध्ये अ‍ॅप अनुवादित करण्यासाठी किंवा व्युत्पन्न करणे
      आवृत्त्या अ‍ॅप स्वतःच आणि सर्व व्यापारचिन्हे, कॉपीराइट,
      डेटाबेस अधिकार आणि इतर बौद्धिक मालमत्ता अधिकार संबंधित
      ते अद्याप ओनेरिओ सोल्यूशनशी संबंधित आहे.
    </p> <p>
      अ‍ॅन आहे याची खात्री करण्यासाठी ओनेरिओ सोल्यूशन कटिबद्ध आहे
      शक्य तितक्या उपयुक्त आणि कार्यक्षम त्या कारणास्तव, आम्ही
      अ‍ॅपमध्ये बदल करण्याचा किंवा शुल्क आकारण्याचा अधिकार राखून ठेवा
      त्याच्या सेवा, कोणत्याही वेळी आणि कोणत्याही कारणास्तव. आम्ही कधीच करणार नाही
      अ‍ॅप किंवा त्याच्या सेवांसाठी शुल्क न घेताच घेते
      आपण ज्यासाठी पैसे देत आहात ते आपल्याला स्पष्ट करा.
    </p> <p>
      दुकान सेवा अ‍ॅप वैयक्तिक डेटा संचयित करते आणि त्यावर प्रक्रिया करतो
      आपण आमच्यासाठी प्रदान केले आहे
      सेवा. आपला फोन आणि ठेवण्याची आपली जबाबदारी आहे
      अनुप्रयोग सुरक्षित प्रवेश. म्हणूनच आम्ही शिफारस करतो की आपण तसे करा
      तुरूंगातून निसटणे किंवा आपला फोन रूट नाही, ही प्रक्रिया आहे
      द्वारा निर्मित सॉफ्टवेअर निर्बंध आणि मर्यादा काढून टाकणे
      आपल्या डिव्हाइसची अधिकृत ऑपरेटिंग सिस्टम. हे आपल्या बनवू शकते
      मालवेयर / व्हायरस / दुर्भावनायुक्त प्रोग्रामसाठी असुरक्षित फोन,
      आपल्या फोनच्या सुरक्षितता वैशिष्ट्यांसह तडजोड करा आणि याचा अर्थ असा
      की शॉप सेवा अ‍ॅप योग्य प्रकारे किंवा अजिबात कार्य करणार नाही.
    </p> <p>
      आपणास ठाऊक असले पाहिजे की अशा काही गोष्टी आहेत
      ओनेरिओ सोल्यूशनची जबाबदारी घेणार नाही. निश्चित
      अ‍ॅपच्या कार्य करण्यासाठी अ‍ॅपला सक्रिय असणे आवश्यक आहे
      इंटरनेट कनेक्शन कनेक्शन वाय-फाय किंवा प्रदान केले जाऊ शकते
      आपल्या मोबाइल नेटवर्क प्रदात्याद्वारे, परंतु ओनेरिओ सोल्यूशनद्वारे
      अ‍ॅप पूर्ण कार्य न करण्याची जबाबदारी घेऊ शकत नाही
      आपल्याकडे वाय-फाय वर प्रवेश नसल्यास कार्यक्षमता आणि आपल्याकडे नसल्यास
      तुमचा कोणताही डेटा भत्ता शिल्लक आहे.
    </p> <p></p> <p>
      आपण वाय-फाय असलेल्या क्षेत्राच्या बाहेर अ‍ॅप वापरत असल्यास, आपण
      लक्षात ठेवावे की आपल्यासह आपल्या कराराच्या अटी
      मोबाइल नेटवर्क प्रदाता अद्याप लागू होतील. परिणामी, आपण कदाचित
      डेटा किंमतीसाठी आपल्या मोबाइल प्रदात्याकडून आकारला जाईल
      अ‍ॅपवर प्रवेश करताना कनेक्शनचा कालावधी किंवा
      इतर तृतीय पक्षाचे शुल्क अ‍ॅप वापरताना आपण स्वीकारत आहात
      रोमिंग डेटासह अशा कोणत्याही शुल्कासाठी जबाबदारी
      आपण आपल्या घराच्या प्रदेशाबाहेरील अ‍ॅप वापरल्यास शुल्क आकारते
      (उदा. प्रदेश किंवा देश) डेटा रोमिंग बंद न करता. तर
      आपण ज्या डिव्हाइसवर आहात त्या डिव्हाइससाठी आपण बिल देणारा नाही
      अ‍ॅप वापरुन, कृपया लक्षात ठेवा की आपल्याकडे आपण आहात असे आम्ही गृहित धरू
      अ‍ॅप वापरण्यासाठी बिल देयकाकडून परवानगी घेतली.

    </p> <p>
      त्याच धर्तीवर, ओनेरिओ सोल्यूशन नेहमीच घेऊ शकत नाही
      आपण अ‍ॅप वापरता त्या मार्गाची जबाबदारी म्हणजेच आपल्याला आवश्यक आहे
      आपले डिव्हाइस चार्ज राहते याची खात्री करा - ते अप संपल्यास
      बॅटरी आणि आपण सेवेचा लाभ घेण्यासाठी ती चालू करू शकत नाही,
      ओनेरिओ सोल्यूशन ही जबाबदारी स्वीकारू शकत नाही.
    </p> <p>
      आपल्यासाठी ओनेरिओ सोल्यूशनच्या जबाबदारीच्या संदर्भात
      अ‍ॅपचा वापर, आपण अ‍ॅप वापरत असताना ते महत्त्वाचे असते
      लक्षात ठेवा की आम्ही प्रयत्न करीत असले तरी ते आहे की नाही याची खात्री करुन घ्या
      अद्यतनित आणि नेहमीच योग्य असल्यास आम्ही तृतीय पक्षावर अवलंबून आहोत
      आम्हाला माहिती प्रदान करण्यासाठी जेणेकरून आम्ही ती उपलब्ध करुन देऊ शकू
      तुला. ओनेरिओ सोल्यूशन कोणत्याहीसाठी कोणतेही उत्तरदायित्व स्वीकारत नाही
      तोटा, प्रत्यक्ष किंवा अप्रत्यक्ष याचा परिणाम म्हणून आपण अनुभवता
      अ‍ॅपच्या या कार्यक्षमतेवर पूर्णपणे अवलंबून आहे.
    </p> <p>
      
काही वेळा आम्ही अ‍ॅप अद्यतनित करू इच्छितो. अनुप्रयोग आहे
सध्या Android वर उपलब्ध आहे - च्या आवश्यकता
सिस्टम (आणि कोणत्याही अतिरिक्त प्रणालींसाठी आम्ही
यावर अ‍ॅपची उपलब्धता वाढविण्याचा निर्णय घ्या) बदलू शकतो,
आणि आपण ठेऊ इच्छित असल्यास आपल्याला अद्यतने डाउनलोड करण्याची आवश्यकता आहे
अ‍ॅप वापरुन. ओनेरिओ सोल्यूशन हे वचन देत नाही
अनुप्रयोग नेहमीच अद्यतनित करेल जेणेकरून ते आपल्याशी संबंधित असेल
आणि / किंवा आपल्याकडे असलेल्या Android आवृत्तीसह कार्य करते
आपल्या डिव्हाइसवर स्थापित. तथापि, आपण नेहमी वचन दिले
आपण ऑफर तेव्हा अर्ज अद्यतने स्वीकार, आम्ही करू
अ‍ॅप प्रदान करणे थांबवू इच्छितो आणि त्याचा वापर समाप्त करू शकतो
आपल्‍याला समाप्तीची सूचना न देता ते कधीही.
जोपर्यंत आम्ही आपणास अन्यथा सांगत नाही तोपर्यंत (अ) द
या अटींमध्ये आपल्याला देण्यात आलेला हक्क आणि परवाने समाप्त होतील;
(ब) आपण अ‍ॅप वापरणे थांबविले पाहिजे आणि (आवश्यक असल्यास) ते हटविणे आवश्यक आहे
आपल्या डिव्हाइसवरून
    </p> <p><strong>
      या अटी व शर्तींमधील बदल</strong></p> <p>
        आम्ही आमच्या अटी व शर्ती अद्यतनित करू शकतो
        वेळोवेळी. अशा प्रकारे, आपल्याला या पृष्ठाचे पुनरावलोकन करण्याचा सल्ला देण्यात आला आहे
        नियमितपणे कोणत्याही बदलांसाठी. आम्ही करू
        नवीन अटी आणि. पोस्ट करून कोणत्याही बदलांची आपल्याला सूचना द्या
        या पृष्ठावरील अटी.
    </p> <p><strong>आमच्याशी संपर्क साधा
    </strong></p> <p>
      आमच्याकडे आपल्यास काही प्रश्न किंवा सूचना असल्यास
      अटी व शर्ती, आमच्याशी संपर्क साधायला अजिबात संकोच करू नका
      oneriasolution@gmail.com वर.
    </p>
  </div>
</ion-content>












