
<ion-header>
    <ion-toolbar>      
      <ion-title>
        <div style="font-size:23px;font-weight:800;margin-top:5px;">
                <span style="color:#2a425c;">SHOP</span>   
                <span style="color:#f37221;"> SEVA</span>
              </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content  class="customebackground">
     
       
  
  
    <ion-grid style="margin-top:20px;">
      <ion-row>
        <ion-col size="1">
          
        </ion-col>
        <ion-col size="10">
          <ion-label class="customelabel" >  {{ 'register.otp' | translate }}</ion-label>      
          <ion-input class="custometextbox" (click)="removeerr()"  autofocus=false autocomplete=off type="number"  id="otp" >&nbsp; </ion-input>
          <div style="color:red;width: 100%;text-align: right;" id="otp_error"  class="errormessage"></div>
        </ion-col>
        <ion-col size="1">
          
        </ion-col>
        
      </ion-row>

  
      <ion-row  style="">
        <ion-col size="1">
          
        </ion-col>
        <ion-col size="10">
          
          <ion-button class="darkcolor" mode="ios"  (click)="verifyOtp()"  expand="full" shape="round" style="font-size: 13px !important;">{{ 'login.verifybtn' | translate }}</ion-button>

        </ion-col>
        <ion-col size="1">
          
        </ion-col>
        
      </ion-row>
      <ion-row  style="">
        <ion-col size="1">
          
        </ion-col>
        <ion-col size="10">
          
          <ion-button class="outlinebox" mode="ios"  (click)="closemodelforchange()"  expand="full" shape="round" style="font-size: 13px !important;">{{ closebuttontext }}</ion-button>

        </ion-col>
        <ion-col size="1">
          
        </ion-col>
        
      </ion-row>

  
    </ion-grid>
  
  
  
