<ion-header no-border no-shadow class="ion-no-border" style="background-color: #e6dfdd !important;">
  <ion-toolbar  style="height: 150px;background-color: #e6dfdd !important;">
    <ion-title style="padding-top:20px;text-align: center;background-color: #e6dfdd !important;">
      <img src='../assets/logo.jpg' style="height: 80px;width: 70px;border-radius: 10px;" />
      <div style="font-size:23px;font-weight:800;margin-top:5px;">
        
        
        <span style="color:#2a425c;">SHOP</span>   
                <span style="color:#f37221;"> SEVA</span>
              </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="customebackground">
  <app-mobileno id="log"></app-mobileno>
<div style="padding:10px !important;font-size:11px;">
  By proceeding you agree to our <span style="color:#f37221;" routerLink="../termandcondition">terms, conditions</span> and<span style="color:#f37221;" routerLink="../privacypolicy"> Privacy Policy</span>.
</div>
   
</ion-content>
