
<ion-grid  *ngIf="loaded">
  <ion-row>
    <ion-col size="3" *ngFor="let category of categoryList" style="padding: 0px !important;" routerLink="shoplist/{{ category.CategoryID }}">
      <div class="scrollmenu">
        <div class="itemblock" >
          <img src='{{ baseUrl+""+category.CategoryImagePath }}' style="height: 40px;width: 40px;border-radius: 10px;" />
          <div  style="width: 100%;  white-space: initial;font-size:10px;color:black;font-weight: 800;">
          <span *ngIf="languageId=='1'">
            {{ category.CategoryName }}
          </span> 
          <span *ngIf="languageId=='2'">
            {{ category.CategoryNameM }}
          </span> 
          
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>



<ion-grid *ngIf="!loaded">
  <ion-row>
    <ion-col size="3" *ngFor="let category of [].constructor(20)" style="padding: 0px !important;padding-top: 10px !important;">
      <div class="scrollmenu">
        <div class="itemblock" >
          <div style="width: 100%;">
            <ion-thumbnail mode="ios" style="height: 50px;width: 50px;">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail> 
          </div>    
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>





