<ion-header no-border no-shadow class="ion-no-border">
  <!-- <ion-toolbar  style="--background: #e6dfdd !important;">
    
  </ion-toolbar> -->
  <ion-toolbar   style="height: 130px;--background: #e6dfdd !important;padding-top:15px;">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: 40px !important;text-align: center;background-color: #e6dfdd !important;">
      <img src='../assets/logo.jpg' style="height: 70px;width: 70px;border-radius: 10px;" />

      <div style="font-size:23px;font-weight:800;margin-top:5px;">
                <span style="color:#2a425c;">SHOP</span>   
                <span style="color:#f37221;"> SEVA</span>
              </div>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content  class="customebackground">

<div class="fmobilenodiv">



  <ion-grid style="margin-top:20px;">
    <ion-row>
      <ion-col size="1">
        
      </ion-col>
      <ion-col size="10">
        <ion-label class="customelabel" >  {{ 'register.mobile' | translate }}</ion-label>      
        <ion-input class="custometextbox" (click)="removeerr()"  autofocus=false autocomplete=off type="number"  id="fmobileno" >&nbsp; +91   </ion-input>
        <div style="color:red;width: 100%;text-align: right;" id="fmobileno_error"  class="errormessage"></div>
      </ion-col>
      <ion-col size="1">
        
      </ion-col>
      
    </ion-row>




    <ion-row  style="">
      <ion-col size="1">
        
      </ion-col>
      <ion-col size="10">
        
        <ion-button class="darkcolor" mode="ios" (click)="fverifyUser()" expand="full" shape="round" style="font-size: 13px !important;">{{ 'login.verifybtn' | translate }}</ion-button>

      </ion-col>
      <ion-col size="1">
        
      </ion-col>
      
    </ion-row>





  </ion-grid>


</div>
<div class="fotpdiv" style="display:none;">
  <ion-grid style="margin-top:20px;">
    <ion-row>
      <ion-col size="1">
        
      </ion-col>
      <ion-col size="10">
        <ion-label class="customelabel" >  {{ 'register.otp' | translate }}</ion-label>      
        <ion-input class="custometextbox" (click)="removeerr()"  autofocus=false autocomplete=off type="number"  id="fotp" >&nbsp; </ion-input>
        <div style="color:red;width: 100%;text-align: right;" id="fotp_error"  class="errormessage"></div>
      </ion-col>
      <ion-col size="1">
        
      </ion-col>
      
    </ion-row>


    <ion-row>
      <ion-col size="1">
        
      </ion-col>
      <ion-col size="10" style="font-size: 13px;text-align: right;" >
        <span (click)="chagemobilenumber()" style="color:#2a425c !important;">change mobile number</span>
      </ion-col>
      <ion-col size="1">
        
      </ion-col>
      
    </ion-row>

    <ion-row  style="">
      <ion-col size="1">
        
      </ion-col>
      <ion-col size="10">
        
        <ion-button class="darkcolor" mode="ios" (click)="fverifyotp()" expand="full" shape="round" style="font-size: 13px !important;">{{ 'login.verifybtn' | translate }}</ion-button>

      </ion-col>
      <ion-col size="1">
        
      </ion-col>
      
    </ion-row>





  </ion-grid>
</div>
<div class="fpassworddiv" style="display:none;">
  <ion-grid style="margin-top:20px;">
    <ion-row>
      <ion-col size="1">
        
      </ion-col>
      <ion-col size="10">
        <ion-label class="customelabel" >  {{ 'register.password' | translate }}</ion-label>      
        <ion-input class="custometextbox"   autofocus=false autocomplete=off id="fpassword"      type="password" (click)="removeerr()">&nbsp; </ion-input>
        <div style="color:red;width: 100%;text-align: right;" id="fpassword_error"  class="errormessage"></div>
      </ion-col>
      <ion-col size="1">
        
      </ion-col>
      
    </ion-row>

    <ion-row>
      <ion-col size="1">
        
      </ion-col>
      <ion-col size="10">
        <ion-label class="customelabel" >  {{ 'register.confirmpassword' | translate }}</ion-label>      
        <ion-input class="custometextbox"   autofocus=false  autocomplete=off id="fconfirmpassword"   type="password" (click)="removeerr()">&nbsp; </ion-input>
        <div style="color:red;width: 100%;text-align: right;" id="fconfirmpassword_error"  class="errormessage"></div>
      </ion-col>
      <ion-col size="1">
        
      </ion-col>
      
    </ion-row>

    <ion-row>
      <ion-col size="1">
        
      </ion-col>
      <ion-col size="10" style="font-size: 13px;text-align: right;" >
        <span (click)="chagemobilenumber()" style="color:#2a425c !important;">change mobile number</span>
      </ion-col>
      <ion-col size="1">
        
      </ion-col>
      
    </ion-row>


    <ion-row  style="">
      <ion-col size="1">
        
      </ion-col>
      <ion-col size="10">
        
        <ion-button class="darkcolor" mode="ios" (click)="fverifypassword()" expand="full" shape="round" style="font-size: 13px !important;">{{ 'login.verifybtn' | translate }}</ion-button>

      </ion-col>
      <ion-col size="1">
        
      </ion-col>
      
    </ion-row>





  </ion-grid>
</div>

   
</ion-content>
